<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> MatchBook </title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>
    <div>
        <div class="home">
            <h1> <b> MatchBook </b> </h1>
            <h3> Dê um MatchBook. </h3>
            <h3> Converse. Encontre.</h3>
        </div>

        <div class="h">
            <button> <a href="/login"> Entrar </a></button>
            <button> <a href="/cadastro"> Cadastrar-se </a></button>
        </div>
    </div>
</body>

</html>