<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> MatchBook </title>
    <link rel="stylesheet" th:href="@{/css/general.css}">
</head>

<body>
    <div>
        <div>
            <h1> <b> MatchBook </b> </h1>
            <h3> Dê um MatchBook. </h3>
            <h3> Converse. Encontre.</h3>
        </div>

        <div class="button">
            <a href="/login"> <button> Entrar </button> </a>
        </div>

        <div class="button2"> 
            <a href="/cadastro"> <button> Cadastrar-se </button> </a>
        </div>
    </div>
</body>

</html>