<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>
	<link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>
	<div>
	<nav class="menu">
    <ul>
    	 <li><span class="logo">MatchBook</span></li>
    	 <li> </li>
        <li><a href="/">Home</a></li>
        <li><a href="/login">Entre</a></li>
        <li><a href="/cadastro">Cadastre-se </a></li>
        <li><a href="/perfil">Encontre pessoas</a></li>
        <li><a href="/matchs"> Matchs</a></li>
    </ul>
</nav>
	
	<h3> Entre </h3>
	
		<form method="POST">

			<div th:each="erro : ${error}">
				<p th:text="${erro}"></p>
			</div>

			<div>
				<p> Apelido : <input type="text" name="nickname"> </p>
				<span th:each="error : ${validationFailures}" th:if="${error.field == 'nickname'}" th:text="${error.message}"></span>
			</div>
			<div>
				<p> Senha: <input type="password" name="password"> </p>
				<span th:each="error : ${validationFailures}" th:if="${error.field == 'password'}" th:text="${error.message}"></span>
			</div>

			<button class="buttonFormato" type="submit">Entrar</button>

		</form>
		
	</div>

	<form action="/sair" method="POST">
		<button class="buttonFormato"  type="submit">Sair</button>
	</form>

</body>

</html>