<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>
<nav class="menu">
    <ul>
    	 <li><span class="logo">MatchBook</span></li>
    	 <li> </li>
        <li><a href="/">Home</a></li>
        <li><a href="/login">Entre</a></li>
        <li><a href="/cadastro">Cadastre-se </a></li>
        <li><a href="/perfil">Encontre pessoas</a></li>
        <li><a href="/matchs"> Matchs</a></li>
    </ul>
</nav>
    <div>
         <div th:each="users : ${user} ">
        <h5 th:text="${users.usersLiked}"></h5>
    </div>



</body>

</html>