<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>


    <form method="POST">
        <p> Nome : <input type="text" name="name"> </p>
        <p> Sobrenome: <input type="text" name="lastName"> </p>
        <p> Idade : <input type="text" name="age"> </p>
        <p> Cidade : <input type="text" name="city"> </p>
        <p> Sexo : Masculino <input type="radio" name="gender" value="Masculino">
            Feminino <input type="radio" name="gender" value="Feminino">
            Outros <input type="radio" name="gender" value="Outros"> </p>
        <p> Nickname : <input type="text" name="nickname"></p>
        <p>E-mail : <input type="text" name="email"> </p>
        <p> Senha : <input type="text" name="password"> </p>

        <button type="submit"> Cadastrar </button>
    </form>

</body>

</html>