<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>
<nav class="menu">
    <ul>
    	 <li><span class="logo">MatchBook</span></li>
    	 <li> </li>
        <li><a href="/">Home</a></li>
         <li><a href="/login">Entre</a></li>
        <li><a href="/cadastro">Cadastre-se </a></li>
        <li><a href="/perfil">Encontre pessoas</a></li>
        <li><a href="/matchs"> Matchs</a></li>
    </ul>
</nav>


    <div>
        <form method="POST">
            <div>
                <p> Nome : <input type="text" name="name"> </p>
                <span th:each="error : ${validationFailures}" th:if="${error.field == 'name'}" th:text="${error.message}"></span>
            </div>

            <div>
                <p> Sobrenome: <input type="text" name="lastName"> </p>
                <span th:each="error : ${validationFailures}" th:if="${error.field == 'lastName'}" th:text="${error.message}"></span>
            </div>

            <div>
                <p> Idade : <input type="number" name="age"> </p>
                <span th:each="error : ${validationFailures}" th:if="${error.field == 'age'}" th:text="${error.message}"></span>
            </div>

            <div>
                <p> Cidade : <input type="text" name="city"> </p>
                <span th:each="error : ${validationFailures}" th:if="${error.field == 'city'}" th:text="${error.message}"></span>
            </div>

            <div>
                <p> Sexo : Masculino <input type="radio" name="gender" value="Masculino">
                    Feminino <input type="radio" name="gender" value="Feminino">
                    Outros <input type="radio" name="gender" value="Outros"> </p>
                <span th:each="error : ${validationFailures}" th:if="${error.field == 'gender'}" th:text="${error.message}"></span>
            </div>

            <div>
                <p> Nickname : <input type="text" name="nickname"></p>
                <span th:each="error : ${validationFailures}" th:if="${error.field == 'nickname'}" th:text="${error.message}"></span>
            </div>
            <div>
                <p>E-mail : <input type="text" name="email"> </p>
                <span th:each="error : ${validationFailures}" th:if="${error.field == 'email'}" th:text="${error.message}"></span>
            </div>
            <div>
                <p> Senha : <input type="text" name="password"> </p>
                <span th:each="error : ${validationFailures}" th:if="${error.field == 'password'}" th:text="${error.message}"></span>
            </div>
            <p th:each="genre : ${literaryGenres}">
                <input type="checkbox" th:value="${genre.id}" th:text="${genre.name}" name="literaryGenre">
            </p>
            <div>

            </div>

            <button class="buttonFormato" > Cadastrar </button>
        </form>
    </div>

</body>

</html>